body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #a18cd1;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input[type="text"],
.search-container select,
.search-container input[type="date"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 15px;
    background-color: #0a0a0b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #3012d7;
}

.events {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.event:last-child {
    border-bottom: none;
}

.event .cn{
    width: 160px;
    height: 40px;
    background-color: #db12db;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.event .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}


  
  

